html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
}

#loadingLayer {
  width:100%;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin: 100px 0px;
}

#readLayer {
  width:100%;
  height:100%;
  display:none;
  background-image: url("../img/read_bg_pattern.png");
  background-repeat: repeat;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

#readContent {
  position: relative;
  display:inline-block;
  top: 50%;
  transform: translateY(-50%);
  width:90%;
  height:90%;
  border: 4px solid #606070;
  border-radius: 20px;
  -moz-box-shadow:    inset 0 0 10px #a0a0a0;
  -webkit-box-shadow: inset 0 0 10px #a0a0a0;
  box-shadow:         inset 0 0 10px #a0a0a0;
  background-image: url("../img/read_content_bg_pattern.png");
  background-repeat: repeat;
}

#readContentTitleLayer {
  width:100%;
  height:40px;
  margin-top:20px;
  background-color: #80b0a8;
}

#readContentTitleTable {
  height:100%;
  margin-left: 30px;
}

#readContentTitle {
  height:100%;
  border-top: 2px solid #f8f0b8;
  border-bottom: 2px solid #f8f0b8;
  margin-left: 10px;
  margin-top: 5px;

  font-size: 20px;
  color: #f80000;
  font-family: "Batang";

  text-shadow: -1px 0 #f8f8f8, 0 1px #f8f8f8, 1px 0 #f8f8f8, 0 -1px #f8f8f8;
  -moz-text-shadow: -1px 0 #f8f8f8, 0 1px #f8f8f8, 1px 0 #f8f8f8, 0 -1px #f8f8f8;
  -webkit-text-shadow: -1px 0 #f8f8f8, 0 1px #f8f8f8, 1px 0 #f8f8f8, 0 -1px #f8f8f8;
}

#readContentMidLayer {
  width:100%;
  height:40px;
  bottom:20px;
  background-image: url("../img/read_end_background_pattern.png");
  background-repeat: repeat;
}

#readContentEndLayer {
  width:100%;
  height:35px;
  position: absolute;
  bottom: 15px;
  background-color: #80b0a8;
}

#mapLayer {
  width:100%;
  height:100%;
  display:none;
  background-color: #1070e0;
}

#map_top {
  height:40px;
  border-bottom: 2px solid #004878;
}

#map_top img {
  margin-top: 10px;margin-right: 10px;float: right;
}

#map_center {
  width: 100%;
  height: 298px;
  display:flex;
  background-color: #f8f8f8;
  border-top:1px solid #10a8d8;
  border-bottom:1px solid #007088;
}
#map_left {
  width:32px;
  height:298px;
  flex-basis: 32px;
}
#map_left img {
  display : block;
}
#map_content {
  flex: 1;
}
#map_right {
  width:32px;
  height:298px;
  flex-basis: 32px;
}
#map_right img {
  display : block;
}

#map {
  height: 287px;
  margin: 6px;
}

#map_foot {
  height: 100%;
  border-top: 2px solid #004878;
  background-image: url("../img/map_guide_bg_pattern.png");
  background-repeat: repeat;
  padding: 5px 0px 0px 30px;
}